.nav-title {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th, td {
  width: calc(100% / 9);
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.expense-form {
  margin-left: 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.expense-form input, select, textarea {
  width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.expense-form textarea {
  width: 13rem;
  height: 5rem;
}

.add-expense {
  width: 10rem;
  height: 3rem;
}

.month-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-income {
  width: 10rem;
  height: 3rem;
  margin-left: 1rem;
}

.income-label {
  margin-left: 1rem;
  margin-right: 1rem;
}