.mood-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-selector {
  margin-bottom: 20px;
  text-align: center;
}

.year-selector button {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 20px);
  grid-gap: 2px;
  justify-content: center;
}

.day {
  position: relative;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border-radius: 20%;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 120%; /* Position above the circle */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 10;
}

.day:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.year-span {
  font-size: larger;
  color: #000000;
}