.bp-form {
  display: flex;
  flex-direction: column;
}

.form-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 1rem auto;
  align-items: center;  /* Centers items vertically */
  justify-content: center;
}

.bp-form-group {
  display: flex;
  flex-direction: row;
}

.bp-form-group label {
  margin-top: 1rem;
  display: block;
  margin-right: 2rem;
}

.bp-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.bp-btn-submit {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 95%;
}

.btn-submit:hover {
  background-color: #45a049;
}

.bp-charts-container {
  width: 97%;
  margin: auto;
  margin-top: 1rem;
}